
.form-base__submit {
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.form-base__footer {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.header-button {
  display: flex;
}
.header-button > h4 {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 18px;

}

.form-base__header h3 {
  width: 100%;
  text-align: center;
  display: block;
} 