
.nav-buttons {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  align-items: center;
}

.primary-item,
.nav-item {
  border-radius: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  width: 100%;
  justify-content: center;
  height: 60px;
}

.nav-item {
  background-color: var(--color-primary);
}

.nav-item.dark-green {
  background-color: var(--color-primary-dark);
}

.primary-item > span,
.nav-item > span {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  margin-left: 4px;
}

.primary-item:hover,
.nav-item:hover {
  opacity: 0.9;
}

.primary-item:focus,
.nav-item:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.nav-item.active {
  background-color: var(--color-primary-dark); 
  color: var(--color-white);
}
