@import '../../index.css';

.button {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  align-items: center;
  border-radius: 0;
  font-size: 15px;
  transition: background-color 0.3s ease;
  padding: 5px 20px;
  width: 100%;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:hover:not(:disabled), 
.button:active:not(:disabled) {
  background-color: var(--color-primary); 
  opacity: 0.8;
}

.button--loading {
  opacity: 0.8;
  cursor: not-allowed;
}

.button-loading-icon {
  color: var(--color-white) !important;
}

.button-label {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  margin-left: 4px;
}

  /* .cancel-button {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
  
  .cancel-button:hover:not(:disabled), 
  .cancel-button:active:not(:disabled) {
    background-color: var(--color-primary-82); 
    border: 1px solid var(--color-primary-82);
    opacity: 0.8;
    color: var(--color-white);
  }
    */