  .meal-product {
    display: flex;
    gap: 30px;
    padding: 5px 20px;
    border-top: 1px solid #f0f0f0;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .meal-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
 }

  .meal-product__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
  }

  .meal-product__quantity {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
  }
