  .meal-product {
    display: flex;
    gap: 30px;
    padding: 15px 20px;
    border-top: var(--border-light);
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .meal-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
 }

  .meal-product__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
  }

  .meal-product__quantity {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-muted);
  }

  .macros.meal-product__name {
    font-size: 16px;
    font-weight: 600;
}