.header-button {
    display: flex;
  }
  .header-button > h4 {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
  
  }
  
  .form-base__header h3 {
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 500;   
  }

.form-base__header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 1rem;
}

.header-button--left,
.header-button--right {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}
