.weight-logs__container {
  padding: 1rem;
}

.weight-logs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weight-logs__header h2 {
  margin: 0;
  font-size: 24px;
}

.weight-logs__header button {
  width: 40px;
  padding: 10px 2px;
  font-size: 12px;
  border-radius: 50%;
}

.weight-logs-snackbar {
  z-index: 1000;
  border: solid 1px var(--color-error);
  border-radius: 4px;
  background: var(--color-error);
  padding: 0.9rem;
}

.weight-logs-snackbar p {
  color: var(--color-surface);
}