.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white-70);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-overlay);
}

.overlay-loader__spinner {
  border: 4px solid var(--color-primary-20);
  border-top: 4px solid var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



