@import '../../index.css';

.select__container {
  margin: 0.5rem;
  width: 100%;
}

.select__wrapper {
  position: relative;
  width: 100%;
}

.select__input {
  padding: 0.5rem 1rem;
  border: var(--border);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-surface-card);
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23666' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  padding-right: 2.5rem;
}

.select__input:focus,
.select__input:active {
  outline: 2px solid var(--color-secondary);
  outline-offset: 0px;
}

.select__wrapper--error .select__input:focus,
.select__wrapper--error .select__input:active {
  outline: 1px solid var(--color-error);
  outline-offset: 0px;
}

.select__wrapper--error .select__input {
  border: none;
  outline: 1px solid var(--color-error);
}

.select__label {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-muted);
  pointer-events: none;
  background: var(--color-white);
  transition: all 0.2s ease;
  padding: 0 0.25rem;
  font-size: 12px;
  line-height: 1;
  width: 80%;
}

.select__wrapper--error .select__input:focus + .select__label,
.select__wrapper--error .select__input.filled + .select__label {
  color: var(--color-error);
  font-weight: 500;
}

.select__input:focus + .select__label,
.select__input.filled + .select__label {
  top: -0.5rem;
  transform: none;
  font-size: 0.75rem;
  color: var(--color-black);
  width: fit-content;
}

.select__error {
  color: var(--color-error);
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  margin-left: 4px;
}

