.add-product {
  padding: 16px;
  background-color: var(--color-bg);
}

.add-product__header {
  display: flex;
  align-items: center;
}


.add-product__search {
  width: 100%;
  display: flex;
  padding: 8px;
  margin: 16px 0; 
  z-index: 1;
  position: relative;
  justify-content: space-between;
}

.add-product__item {
  padding: 10px;
  background-color: var(--color-surface-card);
  margin: 5px 0;
  display: flex;

  justify-content: flex-start;
}

.add-product__item > .macros.add-product__item-macros {
  flex: 1;
}

.add-product__item-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.button.add-product__add-button {
  margin-top: 10px;
  border-radius: 0;
}

.add-product__item-name {
  max-width: 130px;
  width: 30%;
  white-space: normal;
  overflow-wrap: break-word
}

.macros.add-product__item-macros {
  width: 30%;
}
.add-product__item--selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}