*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-secondary);
}

:root {
  --color-primary: #7fb069;
  --color-secondary: #56565a;
  --border:  1px solid #ddd;
}

p, h1, h2, h3, h4, h5, h6, label, input, textarea, select, button {
  color: var(--color-secondary);
}

html,
body{
  height: 100%;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}