.day-of-eating {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day-of-eating__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding-top: var(--space-2);
}

.day-of-eating__header-top {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-2);
}

.day-of-eating__body {
  display: flex;
  flex-direction: column;
  padding: var(--space-2) var(--space-2) var(--space-header-height) var(--space-2);
}

